*:focus {
    outline: none;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
}
h1 {
	font-weight: 900;
	font-size: 2rem;
}
.main-container {
	display: flex;
	justify-content: center;
	background-color: #f5dede;
	height: 100vh;
}
.inner-container {
	display: flex;
	width: 50%;
	height: 70%;
	justify-content: center;
	background-color: #fff;
	place-self: center;
	overflow-y: scroll;
}

.square-container {
	width: 100%;
}

.student-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.profile-image {
	border: 1px solid #f5dede;
	border-radius: 50px;
	height: max-content;
}
.profile-image img {
	width: 100px;
}

/* Plus button */
.btn-plus {
	color: #f5dede;
	font-size: 3rem;
	align-self: flex-start;
	border: none;
	background-color: #fff;
}

/* Search box */
.searchName input {
	width: 97%;
	border: none;
}
